<div class="ui-password-input">
<input #uiText
       [type]="type"
       class="ui-password-input__input"
       [placeholder]="placeholder"
       [disabled]="disabled"
       [(ngModel)]="value"
       (focus)="_onFocus($event)"
       (blur)="_onBlur($event)"
       (change)="_onSubmitValueChange($event)"
       (keydown)="_onKeyDown($event)"
       [class._focused]="focused"
/>
<img class="ui-password-input__icon-container"
     src="/assets/images/eye.png"
     (mousedown)="unMaskValue()"
     (mouseup)="maskValue()"/>
</div>


