<div class="registration">
  <form novalidate
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()"
  >
    <div class="registration-form" formGroupName="user">
      <ui-text-input class="registration__field"
                     formControlName="username"
                     [placeholder]="'Username'"
      ></ui-text-input>
      <ui-text-input class="registration__field"
                     formControlName="email"
                     [placeholder]="'Email'"
      ></ui-text-input>
      <ui-password-input class="registration__field"
                         formControlName="password"
                         [placeholder]="'Password'"
      ></ui-password-input>
      <ui-button
        [text]="'Sign Up'"
        [disabled]="!formGroup.valid"
        (onClick)="onSubmit()"
      ></ui-button>
    </div>
  </form>
</div>
