<div class="reset-password">
  <div class="reset-password-title">Reset your password</div>
  <scratch-error-label *ngIf="isErrorVisible"
                       [text]="'Something went wrong'"
                       (onClose)="isErrorVisible = false"
  ></scratch-error-label>
  <div class="reset-password-container">
    <div class="reset-password-container__header">Enter your email address and we will send you a link to reset your
      password.
    </div>
    <div class="reset-password-container__content">
      <ui-text-input class="reset-password-container__field"
                      [placeholder]="'Enter email address'"
                      [(value)]="email"
      ></ui-text-input>
    </div>
    <ui-button
      [text]="'Reset password'"
      (onClick)="onSubmit()"
    ></ui-button>
  </div>
</div>
